@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color-one: #101010;
    --bg-color-two: #151515;
    --bg-color-sides: #9D7D18;
    --text-color-one: #ffffff;
    --text-color-two: #aaaaaa;
    --main-color: #408cff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
html, body{
    overflow-x: hidden;
}    
body{
    background-color: var(--bg-colorone);
    color: white;
}
.header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-one);
    padding: 2% 6%;
    transition: all .45s ease;
}
/***** NAVMENU SECTION *****/
 .navMenu{
    position: fixed;
    background-color: var(--bg-color-one);
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    z-index: 2;
    transition: all .45s ease;
    text-align: center;
    padding-top: 15%;
}
.navMenu ul{
    padding: 40px 0;
}
.navMenu ul li{
    display: block;    
}
.navMenu a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    transition: all .45s ease;
    color: var(--text-color-one);
    margin-left: 30%;
    margin-bottom: 15px;
}
.header i{
    font-size: 30px;
}
ul li a:hover{
    color:#ffd700;
}    
section{
    padding: 120px 14% 120px;
}
span{
    color: var(--main-color);
}

/********* ✅ OVERALL HOME PAGE *********/
.home{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/Home-bg-one.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center; 
}
.div-box-one{
    font-size: 11px;
    margin-bottom: 25%;    
    border-radius: 5px;
    border: double;
    padding: 6px 0;
    text-align: center;
    box-shadow: 0 0 5px #ffffff;
    animation: bounce 1s 4 ease-in-out;
}
@keyframes bounce{
    0%,80%,100%{
        transform:translateY(0);
        opacity:.4;
    }
    40%{
        transform:translateY(-10px);
        opacity:1;
    }
}

.home h1{
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 800;
}
.home h5{
    font-size: 12px;
    margin-bottom: 30px;
    font-family: ;
}
.home p{
    font-size: 12px;
    color: var(--text-color-two);
    margin-bottom: 25%;
}
.home .btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
/****** ✅ OVERALL ABOUT PAGE *****/
.about{
    background-color: var(--bg-color-two);
}
.about-img img{
    width: 100%;
    border: solid;
    border-radius: 20px;
    margin-top: -40px;
    border-color: var(--bg-color-sides);
}
.about h2{
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 30px;
}
.about p{
    font-size: 14px;
    color: var(--text-color-two);
    margin-bottom: 25%;
}
.about .btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
/* other page about */
.more-about{
    background-color: var(--bg-color-two);
}
.more-about-img img{
    width: 100%;
    border: solid;
    border-radius: 20px;
    margin-top: -40px;
    border-color: var(--bg-color-sides);
}
.more-about h2{
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 30px;
}
.more-about p{
    font-size: 14px;
    color: var(--text-color-two);
    margin-bottom: 25%;
}
.more-about .btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}
#about-others{
    background-color: #191919;
}
.about-others{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-others-img{
    position: relative;
    width: 18rem;
    height: 18rem;
    margin-top: -2rem;     
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-others-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    background-color: var(--text-color-one);
}
.about-others-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.about-others-text{
    text-align: center;
    margin-bottom: 25%;
}
.about-others-text h3{
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 10%;
}
.about-others-text p{
    font-size: 14px;
    color: var(--text-color-two);
}
.about-others .btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -40%;
    font-weight: 500;
    font-size: 15px;
}
/***** ✅ OVERALL SERVICES PAGE *****/
.services{
    background-color: var(--bg-color-one);
}
.services h2{
    margin-bottom: 20%;
    margin-top: -15%;
    text-align: center;
    font-size: 30px;
}
.services-content{
    background-color: #2d2d2d;    
    padding: 50px 30px;
    margin-bottom: 25%;
    border-radius: 10px;
    transition: all .45s ease;
}
.services .services-content:hover{
    transform: translateY(-1%);
}
.services-content i{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.services-content b{
    font-size: 14px;
}
.services-content h3{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10%;
}
.services-content .p2{
    font-size: 14px;
    color: var(--text-color-one);
}
.services-content p{
    font-size: 14px;
    color: var(--text-color-two);
    margin-top: 3%;
}
.services-content b{
    font-weight: 900;
}
.services-content h5{
    margin-bottom: 10%;
}
.services-content .services-help{
    background-color: #212121;
    padding: 10%;
    margin: 0;
    border-radius: 4%;
    margin-top: 20%;
}
.services-help p{
    font-size: 13px;
    margin-bottom: 7%;
}
.services-help a{
    font-size: 12px;
    color: var(--text-color-one);
    text-decoration: underline;
}
.services-help i{
    font-size: 12px;
    color: var(--text-color-one);
}
/* OTHER PAGE SERVICES */
.services-ii{
    background-color: var(--bg-color-two);
}
.services-content .btn-div{
    margin-top: 20%;
    text-align: center;
}
.services-content .btn-div .btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    justify-content: center;
}
.services-ii .h2{
    margin-top: 5%;
    margin-bottom: 20%;
    text-align: center;
    font-size: 30px;
}
#services-others{
    background-color: #191919;
}
.services-others{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-others-img{
    position: relative;
    width: 18rem;
    height: 18rem;
    margin-top: -2rem;     
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-others-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    background-color: var(--text-color-one);
}
.services-others-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.services-others-text{
    text-align: center;
    margin-bottom: 25%;
}
.services-others-text h3{
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 10%;
}
.services-others-text p{
    font-size: 14px;
    color: var(--text-color-two);
}
.services-others .btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -40%;
    font-weight: 500;
    font-size: 15px;
}
/****** ✅ OVERALL PORTFOLIO PAGE ******/
.portfolio{
    background-color: var(--bg-color-two);  
}
.portfolio h2{
    margin-bottom: 10%;
    margin-top: -15%;
    font-size: 30px;
}
.portfolio h3{
    font-size: 18px;
    font-weight: bold;
}
.portfolio hr{
    width: 30%;
    margin-top: 2%;
    margin-bottom: 10%;
    color: var(--text-color-two);
}
.portfolio p{
    font-size: 14px;
    color: var(--text-color-two);
}
.portfolio-nav-flex{
    display: flex;
    margin: 10% -15%;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px 0;
}
.portfolio-nav-flex a{
    background-color: #060606;
    font-size: 12px;
    border-radius: 15px;
    color: var(--text-color-one);
    flex: 0 0 auto;
    padding: 3%;
    align-text: center;
    width: 25%;
}
.portfolio-flex{
    display: flex;
    margin: 10% -15%;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px 0;
}
.portfolio-flex::-webkit-scrollbar{
    display: none;
}
.portfolio-content{
    background-color: var(--bg-color-one);
    padding: 10% 10%;
    height: auto;
    width: 90%;
    border-radius: 10px;
    flex: 0 0 auto;
}
.portfolio-content img{
    width: 90%;
    border-radius: 4px;
    border: solid;
    border-color: var(--bg-color-sides);
}
.portfolio-content h4{
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 18px;
}
.portfolio-content p{
    margin-bottom: 5%;
}
.portfolio-content p2{
    margin-bottom: 10%;
    font-size: 10px;
    color: var(--text-color-two);
}
.portfolio-stat-flex{
    display: flex;    
    align-items: center;
    scrollbar-width:none;
    gap:15px;
    overflow-x:auto;
    scroll-behavior:smooth;
}
.portfolio-stat-flex .stat-content{
    align-text: center;
    margin: 10%;
}
.stat-content i{
    font-size: 15px;
    font-weight: 700;
}
.stat-content b{
    font-size: 14px;
}
.stat-content p{
    font-size: 14px;
}
.portfolio-content a{
    color: var(--text-color-one);
    background-color: #060606;
    font-size: 11px;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 18%;
    margin-top: 10%;
}
/***** OTHER PAGE PORTFOLIO CASE STUDY *****/
.casestudy-min-header{
    background-color: var(--bg-color-two);
}
.casestudy-min-header h1{
    margin-top: 10%;
    margin-bottom: 5%;
}
.casestudy-min-header h5{
    font-size: 14px;
    padding: 2px;
    width: 100%;
}
.casestudy-min-header h5 span{
    font-size: 11px;
    color: #ffffff;
}
.casestudy-min-header h5 i{
    font-size: 20px;
    font-weight: 900;
}
.casestudy-min-header .p1{
    font-size: 15px;
    margin-top: 10%;
    color: var(--text-color-two);
}
.casestudy-min-header img{
    width: 100%;
    border-radius: 4px;
    border: solid;
    border-color: var(--bg-color-sides);
    margin-top: 10%;
    margin-bottom: 10%;
}
/* challenge and strategy section */
.casestudy-ii{
    background-color: var(--bg-color-one);
    padding-top: -20%;
}
.casestudy-ii .chastr-flex{
    display: flex;
    margin-left: -14%;
    margin-right: -10%;
    gap: 10px;
}
.casestudy-ii .chastr-div{
    background-color: var(--bg-color-one);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-color: #c3c3c3;
    min-width: 50%;
    max-width: 50%;
}
.chastr-div i{
    font-size: 30px;
}
.chastr-div h2{
    margin-bottom: 20px;
    font-size: 20px;
}
.chastr-div p{
    font-size: 11px;
}
/* what I did section */
.casestudy-ii .whdid-div{
    background-color: var(--bg-color-one);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-color: #c3c3c3;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 15%;
}
.whdid-div i{
    font-size: 30px;
}
.whdid-div h2{
    margin-bottom: 20px;
    font-size: 20px;
}
.whdid-div ul{
    display: flex;
    gap: 10px;
}
.whdid-div li{
    font-size: 11px;
    margin-bottom: 10%;
}
.whdid-div ul li i{
    font-size: 15px;
}
/* content and impact section */
.conimp-flex{
    display: flex;
    margin-left: -14%;
    margin-right: -10%;
    margin-top: 15%;    
    gap: 10px;
}
.conimp-flex .conimp-div{
    background-color: var(--bg-color-one);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-color: #c3c3c3;
    min-width: 50%;
    max-width: 50%;
}
.conimp-div i{
    font-size: 30px;
}
.conimp-div h2{
    margin-bottom: 20px;
    font-size: 20px;
}
.conimp-div p{
    font-size: 11px;
}
/* metric section */
.casestudy-iii{
    background-color: var(--bg-color-two);
}
.metric-flex{
    display: flex;
    background-color: var(--bg-color-one);
    border-radius: 10px;
    border: solid;
    border-width: 10px;
    margin-top: -20%;
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 30%;
}
.metric-flex .metric-content{
    margin: 10px 14%;
}    
.metric-flex i{
    font-size: 15px;
    font-weight: 700;
}
.metric-flex p{
    font-size: 13px;
    font-weight: 600;
    align-text: center;
}
/* foot flex */
.foot-flex{
    display: flex;
    margin-bottom: -30%;
    margin-left: -16%;
    margin-right: -16%;
    gap: 25px;
    background-color: var(--bg-color-one);
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    padding: 10px 0 10px 25px;
}
.foot-div i{
    font-size: 20px;
    color: var(--text-color-one);
}
.foot-flex a{
    font-size: 11px;
    font-weight: 900;
    color: var(--text-color-one);
    padding-top: 25px;    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: -20px;
    border-radius: 10px;
    justify-content: center;
    align-text: center;
}
.foot-div h5{
    font-size: 11px;
    color: var(--text-color-one);
}
.casestudy-nav{
    margin-left: 17%;
}
.casestudy-nav li{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.casestudy-nav a{
    font-size: 15px;
    margin-left: 35px;
    margin-bottom: -5px;
}
/******** ✅ OVERALL TESTIMONIALS PAGE ********/
.client-testimonial{
    background-color: var(--bg-color-one);
}
.client-testimonial h2{
    font-size: 25px;
    margin-top: -10%;
}
.client-testimonial .client-div{
    background-color: var(--bg-color-two);
    border-radius: 10px;
    padding: 40px 20px;
    margin-top: 25%;
}
.client-div h4{
    font-size: 15px;
    color: var(--bg-color-sides);
}
.client-div p{
    font-size: 14px;
    color: var(--text-color-two);
    margin-top: 10%;
}
.client-div .client-flex{
    display: flex;
    gap: 10px;
    margin-top: 20%;
}
.client-flex h3{
    background-color: var(--main-color);
    border-radius: 100%;
    font-size: 15px;
    padding: 10px;
    margin-top: -10%;
}
.client-flex h2{
    font-size: 15px;
}
.client-div .p3{
    align-text: right;
    font-size: 10px;
    margin-left: 23%;
    margin-top: -1%;
}
/******** ✅ OVERALL CONTACT PAGE ********/
.contact{
    background-color: var(--bg-color-two);
}
.contact-text h2{
    margin-bottom: 6%;
    margin-top: -15%; 
    font-size: 30px;
}
.contact-text h4{
    margin-bottom: 6%;
}
.contact-text p{
    font-size: 14px;
    color: var(--text-color-two);
}
.contact-text .list{
    margin-top: 10%;
    margin-bottom: 10%;
}
.contact-text .list li{
    margin-bottom: 5px;
}
.contact-text .list a{
    color: var(--text-color-two);
    font-size: 14px;
}
.contact-text .list li a:hover{
    color: var(--text-color-one);
    transform: translateY(5px);
}
.contact .icons{
    display: flex;
    gap: 10px;
    margin-bottom: 15%;
}
.contact .icons a{
    font-size: 25px;
    color: var(--text-color-two);
}
.contact-text .icons i:hover{
    color: var(--main-color);
}
.contact-form form input, .contact-form form textarea{
    width: 100%;
    padding: 14px;
    background-color: var(--bg-color-one);
    color: var(--text-color-one);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form form textarea{
    resize: none;
    height: 240px;
}
.contact-form form .submit{
    width: 150px;
    display: inline-block;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--text-color-one);
    transition: all .45s ease;
}
.contact-form form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* other page contact */
.others-contact-text .dot{
    font-size: 20px;
    color: var(--main-color);
}
.others-contact{
    background-color: var(--bg-color-one);
}
.others-contact-text h2{
    margin-bottom: 6%;
    margin-top: -15%; 
}
.others-contact-text h4{
    margin-bottom: 6%;
}
.others-contact-text p{
    font-size: 14px;
    color: var(--text-color-two);
}
.others-contact-text .list{
    margin-top: 10%;
    margin-bottom: 10%;
}
.others-contact-text .list li{
    margin-bottom: 5px;
}
.others-contact-text .list a{
    color: var(--text-color-two);
    font-size: 14px;
}
.others-contact-text .list li a:hover{
    color: var(--text-color-one);
    transform: translateY(5px);
}
.others-contact .icons{
    display: flex;
    gap: 10px;
    margin-bottom: 15%;
}
.others-contact .icons a{
    font-size: 25px;
    color: var(--text-color-two);
}
.others-contact-text .icons i:hover{
    color: var(--main-color);
}
.others-contact-form form input, .others-contact-form form textarea{
    width: 100%;
    padding: 14px;
    background-color: var(--bg-color-two);
    color: var(--text-color-one);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.others-contact-form form textarea{
    resize: none;
    height: 240px;
}
.others-contact-form form .submit{
    width: 150px;
    display: inline-block;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--text-color-one);
    transition: all .45s ease;
}
.others-contact-form form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.map{
    margin: auto;
    margin-top: 15%;
    margin-bottom: -20%;
    background-color: var(--bg-color-two);
}
.map iframe{
    width: 100%;
}